body
{
    background-image: url("../images/woodBackground.png");
    font-family: Arial;
}

hr {
    clear: left;
    border: 0.6px dashed rgb(120,120,120);
    margin-top: 12px;
    margin-bottom: 3px;
}

.profileImage {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 5px solid rgb(173, 216, 230);
    float: left;
    clear:bottom;
}

.profileImage img
{
    width: 100%;
    clip: rect(0px,250px,250px,0px);
}

.contactsContainer {
    overflow-y: auto; /*vertical scrollbar*/
    margin:auto;
    padding-right: 5px;
    padding-left: 2px;
    width: 99%;
    border-radius: 5px;
    border:2px solid rgba(138, 199, 219,0.50);
}

#recommendedContacts {
    max-height: 250px;
}

#allContacts {
    max-height: 350px;
}

.contact
{
    overflow-y: auto; /*vertical scrollbar */
    overflow-x: hidden;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 7px;
    width: 98%;
    border: 0.75px solid rgba(221,221,221,0.35);
    background: rgba(240,240,240,0.25);
}

.contactLeft {
    display: inline-block;
    margin: auto;
    min-width: 113px;
    height: 113px;
}

.contactRight {
    display: inline-block;
    position: relative;
    min-width: 400px;
    height: 115px;
    overflow:hidden;
}

.contactRight>* {
    margin:1%;
}

.title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.jobTitle, .location, .subDetail {
    font-size: small;
}

.subDetail {
    position: absolute;
    bottom: 0px;
    color: rgb(36, 98, 117);
}