#profileImage
{
	width: 250px;
	height: 250px;
	float: left;
	padding: none;
	border: 5px solid lightblue;
	overflow: hidden;
}

#rightHeader {
    width: 60%;
    height: 320px;
    text-align: center;
    font-size: large;
    overflow: auto;
}

#basicInfo.div {
    clear: left;
    overflow: auto;
}

#profileInfo {
    width: 100%;
    text-align: left;
    overflow: auto;
}


body {
    margin: auto;
    background-image: url("../images/woodBackground.png");
   
    background-size: cover;
}

input
{
	width:60%;
}

#profileImage img
{
	width: 100%;
	clip: rect(0px,250px,250px,0px);
}