html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
    padding-top: 50px;
    background-color: gray;
}

.brand-image{
    width: 30px;
    height: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
}


.footer a:hover {
    filter: brightness(70%);
}

.bgark {
    background-color: blue;
    transition: .5s;
}

.bg-dark {
    background-color: brown !important;
}

.footer a {
    color: white;
    text-decoration: none !important;
}

.card-body {
    background-color: gray;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }